
.web_bottom{
	width: 100%;
	background: url(../images/footer/footer_bg.jpg);
	color:#fff;
	padding-bottom: 20px;
}


.bottom_had{
	background: $deepcolor2;
	ul{
		text-align: center;
		margin: 0 auto;
		width: 1024px;
		li{
			padding-top: 3px;
			padding-bottom: 5px;
			a{
				margin-right: 20px;
				margin-left: 10px;
				color:#fff;
				text-decoration:none;
				font-size:90%;
				&:hover{
					color:#b6aa9b;
				}
			}
			&:not(:last-child)::after{
				content: " | ";
				color:#fff;
			}
		}
	}
}
.box-2{
	margin: 0 auto;
    width: 1024px;
    padding: 0 20px;
}
.company_text{
	font-size: 80%;
	color:#fff;
	float: left;
	.title{
		letter-spacing: 1px;
		font-weight:bolder;
		small{
			color:#fff;
			&::before{
				content: "\00a0\00a0\00a0\00a0";   //space code:'\00a0'; 4times = Full blank
			}
		}
	}
	p{
		span{
			&:not(:nth-child(2n))::after{
				content: "\00a0\00a0|\00a0\00a0";
				color:#fff;
			}
			&:nth-child(2n)::after{
				content: "\00a0\00a0\00a0\00a0\00a0\00a0";
			}
		}
	}
}
.contact_icon{
	float: right;
	margin-top:25px;
	margin-right: 30px; 
	text-align: center;
	.icon_list{
		letter-spacing: 1px;
		i{
		    border-radius: 100%;
		    width: 30px;
		    height: 30px;
		    color:#fff;
		    line-height: 30px;
		}
		.fa-facebook{
			background-color: #1074b0;		    
		}
		.fa-google-plus{
			background-color: #da2222;		    
		}
		.fa-youtube{
			background-color: #d31e1e;		    
		}
		.fa-twitter{
			background-color: #16b6cc;		    
		}
	}
}
.copyright{
	font-size: 85%;
	margin-top: 20px;
	letter-spacing: 2px;
}