#web_Son_top{
	background-color: $deepcolor;
}
.had_top_menu{
	margin:0 auto; 
	height:35px;
    width: 1024px;
	ul{ 
		float:right; 
		list-style-type:none; 
		margin:0px 0px 0 0; 
		padding:0px; 
		width:520px;
		li{ 
			display:inline;
			a{ 
				color:#cfc4b3; 
				text-decoration:none; 
				font-size:15px; 
				line-height:37px; 
				padding-right:30px;
				i{ 
					font-size:18px;
					margin-right:8px;
				}
			}
			&.line-link a{ 
				padding-left:30px; 
				padding-right:0px;
				&::before{
					content:"";
					background:url("/images/header/line_icon.png");
					position:absolute;
					width:20px;
					height:20px;
					margin-left:-30px;
					margin-top:8px;
				}
			}
		}
	}
}
.header{
	position: absolute;
	z-index: 1;
	background:rgba(#fff,0.8);
	width: 100%;
	height: 180px;
	.white_area{
		position: relative;
		width: 1024px;
		height: calc(100% - 35px);
		margin: 0 auto;
		.logo,.search_area,.icon_area{
			margin-top: 30px;
			float: left;
		}
		.logo{
			margin-left: 20px;
			margin-top: 20px;
		}
		.search_area{
			width: calc(100% - 300px - 300px);
			padding:0 15px;
			margin-left: 55px;
		}
		.icon_area{
			width:calc(100%/3 - 40px);
			float: right;
		}
	}
}
@media (max-width: 1024px) {
	.header{
		width: inherit;
	}
}

.header_fix{
	background:$lightcolor;
	height: 180px;
}

.top_menu{
	width: 100%;
	position: absolute;
	bottom:1px;
	ul{
		margin-bottom: 0px;
		li.news{
			width: 235px;
			text-align: center;
			height: 40px;
			font-size: 18px;
			background: $deepcolor;
			padding-top: 5px;
			a{
				color:white;
			}
		}
		li{
			margin-left: -5px;
			text-align: center;
			height: 34px;
			a{
				display: block;
				width: 100%;
				height: 100%;
				line-height: 34px;
			}
			&:hover{
				background: rgba($deepcolor,0.5);
				a{
					color:white;
				}
			}
		}
		li:not(:first-child){
			width: calc(100%/5 - 45px);
		}
	}
}

.search_area{
	a:not(:last-child):after{
		content: ".";
	}
}


.icon_area{
	ul{
		list-style-type: none;
		width: 100%;
		padding: 0;
		margin: 0;
		li{
			float: left;
			width: calc(100%/4);
			a{
				display: block;
				width: 100%;
				text-align: center;
				font-size: 85%;
				color:$deepcolor;
				img{
					display: table;
					margin: 0 auto;
					height: 25px;
				}
				&:hover{
					color:#F60;
				}
			}
		}
	}
}