.home{
	width: 1024px;
	margin:0 auto;
	.search_area{
		background: #e7e0d7;
	}
	.main_area{
		background: #f1ede8;
	}
}

.banner_list{
	width: 100%;
	background: rgba(#000,0.5);
}

#thumbs{
	width: 1024px;
	margin:0 auto;
	list-style: none;
	margin-top: -40px;
	padding-left: 0px;
	li{
		float: left;
		cursor: pointer;
		line-height: 40px;
		font-size: 18px;
		width: calc(100%/5);
		text-align: center;
		color:#aaa;
		&:active,&.active{
			background: radial-gradient(ellipse,rgba(orange, 0.9),rgba(#db670f, 0.9));
			color: white;
		}
	}
}


.main_area{
	width: 100%;
	padding: 20px;
	.main_head{
		width: 100%;
		padding: 15px 0;
		ul{
			display: table;
			margin: 0 auto;
			padding: 0;
			list-style-type: none;
			li{
				float: left;
				border-left:1px solid $lightcolor;
				
				&:last-child{
					border-right: 1px solid $lightcolor;
				}
				a{
					display: block;
					padding: 2px 15px;
				}

			}
		}
	}
}