@for $i from 1 through 10 {
    .w-#{$i}-pa {
        width: 10% * $i;
        min-width: 130px;
    }
    .h-#{$i}-pa {
        height: 10% *$i;
    }
}

@for $i from 1 through 100 {
    .h-#{$i} {
        max-height: 10px * $i;
        height: 10px*$i;
    }
    .w-#{$i} {
        width: 10px * $i;
    }
    .h-fix-#{$i} {
        height: 20px * $i;
    }
    .w-min-#{$i} {
        min-width: 10px*$i;
    }
    .marg-all-#{$i} {
        margin: 10px*$i;
    }
    .marg-b-#{$i} {
        margin-bottom: 10px*$i
    }
    ;
    .marg-l-#{$i} {
        margin-left: 10px*$i
    }
    ;
    .marg-r-#{$i} {
        margin-right: 10px*$i
    }
    ;
    .marg-t-#{$i} {
        margin-top: 10px*$i
    }
    ;
    .pad-all-#{$i} {
        padding: 10px*$i;
    }
    ;
    .pad-b-#{$i} {
        padding-bottom: 10px*$i
    }
    ;
    .pad-l-#{$i} {
        padding-left: 10px*$i
    }
    ;
    .pad-r-#{$i} {
        padding-right: 10px*$i
    }
    ;
    .pad-t-#{$i} {
        padding-top: 10px*$i
    }
    .pad-#{$i} {
        padding: 10px*$i;
    }
    ;
    .font-s-#{$i} {
        font-size: 1px*$i;
    }
    .line-h-#{$i} {
        line-height: 1px*$i;
    }
    .min-h-#{$i} {
        min-height: 10px*$i;
    }
}