$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts/";

$deepcolor:#4b3921;
$deepcolor2:#2a1c0b;
$maincolor:#7b6645;
$lightcolor:#e8dfd6;
$lightcolor2:#d9d1c7;

@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/font-awesome/scss/font-awesome.scss";
@import "_header";
@import "_footer";
@import "_number";
@import "_home";


body,html {
	font-family: Microsoft JhengHei;
	padding: 0;
	min-width: 1024px;
	font-size: 15px;
	background-color: #d9d1c7;
}

.hr_shadow{
	background: url(../images/footer/shadow_header.png) center top no-repeat;
	background-size: 100% 100%;
	margin-top: 1px;
	height: 5px;
}

.hr_short{
	background:radial-gradient(ellipse,rgba(black, 0.3),transparent);
	height: 1px;
	margin: 0 auto;
}