<div class="web_bottom">
	<div class="bottom_had">
		<ul class="list-inline">
			<li><a ui-sref="index">回首頁</a></li>
			<li><a ui-sref="index">關於達跡</a></li>
			<li><a ui-sref="index">聯絡我們</a></li>
			<li><a ui-sref="index">匯率查詢</a></li>
			<li><a ui-sref="index">天氣查詢</a></li>
			<li><a ui-sref="index">報名須知</a></li>
			<li><a ui-sref="index">刷卡授權書</a></li>
			<li><a ui-sref="index">旅遊合約書</a></li>
			<li><a ui-sref="index">旅客保險資料表</a></li>
		</ul>
	</div>
	<div class="hr_shadow"></div>
	<div class="box-2">
		<div class="company_text">
			<h3 class="title">達跡旅行社有限公司<small>dagee Travel Service Co., Ltd</small></h3>		
			<p><span>地址</span><span>10663 台北市大安區復興南路二段268號5樓</span></p>
			<p><span>電話</span><span>02-7711-2233</span><span>傳真</span><span>02-2733-8033</span><span>E-mail</span><span>dageetravel@gmail.com</span></p>
			<p><span>種類</span><span>甲種旅行業</span><span>公司負責人</span><span>馬崇淵</span><span>公司聯絡人</span><span>馬崇淵</span></p>
			<p>交觀甲第1752號 品保協會北1912號</p>
		</div>
		<div class="contact_icon">
			<p>聯絡我們</p>
			<p class="icon_list">
				<a ui-serf="index"><i class="fa fa-facebook" aria-hidden="true"></a></i>
				<a ui-serf="index"><i class="fa fa-google-plus" aria-hidden="true"></a></i>
				<a ui-serf="index"><i class="fa fa-youtube" aria-hidden="true"></a></i>
				<a ui-serf="index"><i class="fa fa-twitter" aria-hidden="true"></a></i>
			</p>
			<p></p>
			<p><a ui-serf="index"><img src="images/footer/addfriends_zh-Hant.png" alt="" width="145"></a></p>
		</div>
		<div class="clearfix"></div>
		<div class="copyright">達跡旅行社 版權所有 © 2016 dagee Travel Service Co., Ltd All Rights Reserved. │ 最佳解析度 1024 X 768</div>
	</div>
</div>