<div class="header">
	<div id="web_Son_top"> 
		<div class="had_top_menu">
		<ul>
	    	<li><a ui-sref="index"><i class="fa fa-home" aria-hidden="true"></i>首頁</a></li>
	        <li><a ui-sref="index"><i class="fa fa-comments" aria-hidden="true"></i>線上客服</a></li>
	        <li><a ui-sref="index"><i class="fa fa-map-marker" aria-hidden="true"></i>旅遊諮詢</a></li>
	        <li><a ui-sref="index"><i class="fa fa-facebook-official" aria-hidden="true"></i>FB粉絲團</a></li>
	        <li class="line-link"><a ui-sref="index">LINE</a></li>
	    </ul>
		</div>
	</div>
	<div class="clearfix"></div>
	<!-- 因為深咖啡條靠右(float:right)問題，請添加clearfix(bootstrap寫好的)來去清除走位問題 -->
	<div class="white_area">
	<!-- LOGO、搜尋、關於達跡 -->
		<div class="logo">
			<img src="images/header/dargee_logo.png" alt="">
		</div>
		<div class="search_area">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="請輸入關鍵字">
					<span class="input-group-btn">
					<button class="btn btn-default" type="button">Go!</button>
				</span>
			</div>
			<div class="hotword">
				熱門搜尋：
				<a ui-sref="index">AAA</a>
				<a ui-sref="index">BBB</a>
				<a ui-sref="index">CCC</a>
			</div>
		</div>
		<div class="icon_area">
			<ul>
				<li><a ui-sref="index"><img src="images/header/dargee_icon.png">關於達跡</a></li>
				<li><a ui-sref="index"><img src="images/header/module_icon.png">會員登入</a></li>
                <li><a ui-sref="index"><img src="images/header/module_icon2.png">同業登入</a></li>
                <li><a ui-sref="index"><img src="images/header/module_icon3.png">團體客製</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<!-- 快捷選單 -->
		<div class="top_menu">
			<ul class="list-inline">
				<li class="news">
					<a ui-sref="index">最新消息</a>
				</li>
				<li>
					<a ui-sref="index">限時促銷</a>
				</li>
				<li>
					<a ui-sref="index">豪華郵輪</a>
				</li>
				<li>
					<a ui-sref="index">大陸港澳</a>
				</li>
				<li>
					<a ui-sref="index">東北亞</a>
				</li>
				<li>
					<a ui-sref="index">東南亞</a>
				</li>
			</ul>
		</div>
	</div>
</div>