<div class="banner_area">
  <div class="w-10-pa" style="background: url('images/demo/00000097.jpg') center top;height: 645px">AA</div>
  <div class="banner_list">
    <ul id="thumbs">
      <li rel="1" class="" id="thumb_a1">銀色北海道</li>
      <li rel="2" class="active" id="thumb_a2">東北之旅輕井澤</li>
      <li rel="3" class="" id="thumb_a3">嗨翻沙巴</li>
      <li rel="4" class="" id="thumb_a4">high翻長灘島</li>
      <li rel="5" class="" id="thumb_a5">擁抱馬新雙樂園</li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
<div class="home">
  <div class="search_area h-15">
    <div class="hr_shadow" style="opacity: 0.5"></div>
    <div class='rank_area border'>區域即時榜</div>
    <div class='keyword_area border'>國內外旅遊快速搜尋</div>
  </div>
  <div class="main_area">
    <div class="main_head">
      <ul>
        <li><a href="#">精選專區</a></li>
        <li><a href="#">日本</a></li>
        <li><a href="#">菲律賓</a></li>
        <li><a href="#">韓國</a></li>
        <li><a href="#">馬新</a></li>
        <li><a href="#">泰國</a></li>
        <li><a href="#">峇里島</a></li>
      </ul>
      <div class="clearfix"></div>
      
    </div>
    <div class="hr_short w-5-pa"></div>
    <div class="main_body">
      <div class="box_content" id="box1">
        <div class="box_left">
          <h3 id="box_title">精選專區</h3>
          <div class="box_text">
            <p><span style="font-size:16px;">來電速洽，另有優惠!</span></p>
            <p><span style="font-size:16px;">加入會員，享有最新優惠資訊!</span></p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>